.page.theme_dark {
  --background-color: #000028;
  --main-text-color: #F1B2CE;
  --accent-color: #ff0070;
  --decor-heading-color: #DB00FF;
  --block-heading-color: #000028;
  --small-heading-color: #ff0070;
  --button-color:#ff0070;
  --button-hover: 1px solid rgba(255, 0, 112, 0.4);
  --background-image: url("/images/cover-image-dark.png");
}